<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ทับหนึ่ง</title>
    <link rel="stylesheet" href="css/anime.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <%- include('navbar')%>
    <div class="conteaner">
        <div class="sec1">
        <div class="p-61">
            <h1>welcome 6/1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nostrum odio repudiandae minima, ipsa nam voluptatum facilis illum, at ducimus similique, quasi tempore nulla doloremque libero quisquam itaque ab pariatur.</p>
        </div>
        <div class="img-room-index"></div>
    </div>
</div>
<h1>Grouped Data by Gender</h1>

  <ul>
    <% data.forEach(item => { %>
      <li><%= item._id %>: <%= item.total %></li>
      <div class="grap" data-id="<%= item._id %>" data-total="<%= item.total %>"></div>
    <% }) %>
  </ul>
  <canvas id="myChart" width="1000" height="100"></canvas>

  <script>
    // แสดงข้อมูลในตัวแปร data ใน Console
    var grapElements = document.querySelectorAll('.grap');
    var labels = [];
    var counts = [];

    grapElements.forEach(function(grap) {
      labels.push(grap.getAttribute('data-id'));
      counts.push(grap.getAttribute('data-total'));
    });

    // ตรวจสอบข้อมูลที่ดึงมาได้
    console.log(labels, counts);

    // ดึงข้อมูลจากตัวแปร JavaScript และสร้างกราฟด้วย Chart.js
    const ctx = document.getElementById('myChart').getContext('2d');

    // สร้างกราฟแบบแท่ง
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: '# of Genders',
          data: counts,
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>

</body>
    <script src="js/drop.js"></script>
</html>